@model IEnumerable<Admission>

<h2>Prijemi</h2>


<form id="filterForm">
    <label for="DateFrom">From:</label>
    <input type="date" id="DateFrom" class="form-control" name="DateFrom" />
    
    <label for="DateTo">To:</label>
    <input type="date" id="DateTo" class="form-control" name="DateTo" />
    
    <button type="button" class="btn btn-secondary" id="filterButton">Filter</button>
</form>

<div id="admissionsTable">
    
    @* Rendered partial view goes here *@
    @await Html.PartialAsync("_AdmissionsTable", Model)
</div>




<p>

    
</p>

<a href="/Admission/AddAdmission" class="btn btn-primary">Novi prijem pacijenta</a>

@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            console.log('Confirm Delete function called'); 
            return confirm('Are you sure you want to delete this patient? This action cannot be undone.');
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#filterButton').click(function () {
                var dateFrom = $('#DateFrom').val();
                var dateTo = $('#DateTo').val();

                $.ajax({
                    url: '@Url.Action("FilterAdmissions", "Admission")', 
                    type: 'GET',
                    data: { DateFrom: dateFrom, DateTo: dateTo },
                    success: function (result) {
                        // Replace the current admissions table with the result
                        $('#admissionsTable').html(result);
                    },
                    error: function () {
                        console.log(dateFrom, dateTo)
                        alert('Error loading admissions');
                    }
                });
            });
        });
    </script>

    

}